Package: luci-app-bypass
Version: 1.2-51
Depends: libc, ipset, ip-full, iptables-mod-tproxy, dnsmasq-full, smartdns, coreutils, coreutils-base64, curl, tcping, chinadns-ng, lua, luci-compat, unzip, lua-maxminddb, shadowsocks-libev-ss-server, shadowsocks-libev-ss-local, shadowsocks-libev-ss-redir, shadowsocksr-libev-ssr-local, shadowsocksr-libev-ssr-redir, shadowsocksr-libev-ssr-server, simple-obfs, simple-obfs-server, trojan-plus, trojan-go, xray-core, redsocks2, microsocks
Source: feeds/custom/luci-app-bypass
SourceName: luci-app-bypass
Section: luci
SourceDateEpoch: 1613925817
Architecture: all
Installed-Size: 2500611
Description:  SS/SSR/V2Ray/Xray/Trojan/Trojan-Go/NaiveProxy/Socks5/Tun LuCI interface
