Package: luci-app-dockerman
Version: v0.5.13
Depends: libc, luci-compat, luci-lib-docker, ttyd
Source: feeds/custom/luci-app-dockerman
SourceName: luci-app-dockerman
License: AGPL-3.0
Section: luci
SourceDateEpoch: 1611364224
Maintainer: lisaac <lisaac.cn@gmail.com> Florian Eckert <fe@dev.tdt.de>
Architecture: all
Installed-Size: 44032
Description:  LuCI luci-app-dockerman app
